[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "childdevdata"]
	path = childdevdata
	url = https://github.com/d-score/childdevdata
[submodule "dscore"]
	path = dscore
	url = https://github.com/d-score/dscore
